#admin-navbar {
    margin: 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    z-index: 99;
    opacity: 1;
}

#admin-navbar * {
    color: #767D87;
}

#admin-navbar .sidebar-toggle {
    border: none;
    background-color: transparent;
    font-size: 20px;
    margin-left: 10px;
}

#admin-navbar .navbar-brand {
    margin-left: 10px;
}

#admin-navbar .dropdown .dropdown-menu {
    right: 10px;
    left: auto;
    border: none;
    filter: drop-shadow(0px 0px 2.5px rgba(0, 0, 0, 0.25));
}

#admin-navbar .dropdown .dropdown-item {
    padding: 1px 0px 1px 25px;
}

#admin-navbar .dropdown .dropdown-item:active {
    background-color: #b1b9c3;
}

#admin-navbar .dropdown .dropdown-toggle i {
    font-size: 20px;
    margin-right: 10px;
}

#admin-navbar #img-profil-admin {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 100%;
    padding: 0;
    margin: 0;
}