@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
footer {
    border-top: 7px solid #F6C546;
}

.social-media {
    width: fit-content;
    margin-left: auto;
}

ul.social-media {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

ul.social-media>li {
    display: inline-block;
}

ul.social-media>li>a {
    display: inline-block;
    font-size: 18px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    border-radius: 36px;
    background-color: #fff;
    color: #2F5EA5;
    margin: 0 3px 3px 0;
}

ul.social-media>li>a>span {
    margin-top: 6px;
}

ul.social-media>li>a:hover {
    text-decoration: none;
    background-color: #F6C546;
}

#hubungiKami i {
    font-size: 22px;
    width: 20px;
    margin-right: 10px;
}