@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.judul-banner {
    font-weight: 600;
}

.bg-banner {
    background: url('/assets/main/img/randomshape.svg');
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.container-banner {
    position: relative!important;
}

.banner-left {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-ikut {
    border: 1px solid #2F5EA5;
    border-radius: 5px;
    background-color: white;
    padding: 8px;
    color: black;
    cursor: pointer;
}

.btn-ikut>span {
    padding-left: 20px;
}

.btn-ikut:hover {
    color: #fff;
    border: #2F5EA5 solid 1px;
    background: #2F5EA5;
}

.banner-price {
    margin-top: -60px;
    padding: 10px;
    border-radius: 7px;
    transform: translate(-30px, 150%);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    float: right;
}

.banner-price h5 {
    font-weight: semi-bold;
    margin-top: -15px;
}

.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 10px;
    /* change width */
    height: 10px;
    /* change height */
    padding: 1;
    margin-right: 8px;
    margin-left: 8px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #8B8989;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
    border-radius: 100%;
    /* add border-radius */
}

.color-primer {
    color: #2F5EA5;
}

.bg-color-primer {
    background-color: #2F5EA5;
}

.konten {
    margin-top: 100px;
    margin-bottom: 100px;
}

.konten-2 {
    background-color: #FBFBFB;
    padding-top: 100px;
    padding-bottom: 100px;
}

.bold {
    font-weight: 700;
}

.semi-bold {
    font-weight: 600;
}

.deskripsi-produk {
    color: #747474;
}

.eye-icon {
    float: right;
    margin-top: -25px;
    position: relative;
}

.share-icon {
    margin-top: -25px;
}

.table-borderless {
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
}

.box-shadow-santuy {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.top-penawar {
    width: 100%;
    height: 400px;
}

.img-pelelangan {
    width: 100%;
    height: 480px;
    object-position: center;
    object-fit: cover;
}

.penawaran-tertinggi {
    margin-top: -150px;
}

.btn-pelelangan {
    width: 90% !important;
    background-color: #5394F4;
    color: #fff;
    border-radius: 5px;
}

#detail-carousel {}

#detail-carousel .main-img {
    width: 700px;
    height: 480px;
    object-position: top center;
    object-fit: cover;
}

#filterLelang {
    border-radius: 10px;
    height: 80vh;
}

#filterLelang .btn-group {
    width: 90%;
}

#lelangSaya hr {
    border-top: 2px solid;
    opacity: 1;
}

#toggleLelangSaya .btn-lelang {
    width: 100%;
}

#toggleLelangSaya .col-6 {
    padding: 0;
}

#togglelelangSaya .bg-primer {
    background-color: #3B85F2;
}

#togglelelangSaya .border-lelangSaya {
    border: 1px solid #3B85F2;
}

#togglelelangSaya .border-pembayaran {
    border: 1px solid #3B85F2;
}

#togglelelangSaya .border-lelangSaya p {
    margin-bottom: 0;
}

#togglelelangSaya .border-pembayaran p {
    margin-bottom: 0;
}

/* pembayaran */

#pembayaran hr {
    border-top: 2px solid;
    opacity: 1;
}

#btnPembayaran .btn-lelang {
    width: 100%;
}

#btnPembayaran .col-6 {
    padding: 0;
}

#btnPembayaran .bg-primer {
    background-color: #3B85F2;
}

#btnPembayaran .border-lelangSaya {
    border: 1px solid #3B85F2;
}

#btnPembayaran .border-pembayaran {
    border: 1px solid #3B85F2;
}

#btnPembayaran .border-lelangSaya p {
    margin-bottom: 0;
}

#btnPembayaran .border-pembayaran p {
    margin-bottom: 0;
}

#kontenTitlePembayaran {
    width: 100%;
}

#kontenLelangSaya img {
    width: 200px;
}

#titleLelangSaya {
    margin-right: 20px;
    margin-left: 20px;
    max-width: 220px;
    min-width: 220px;
}

#titleLelangSaya p {
    padding: 5px 50px 5px 50px;
    text-align: center;
}

#infoLelangSaya {
    margin-left: 20px;
}

#infoLelangSaya .table {
    margin: 0;
    padding: 0;
}

#kontenLelangSaya .selesai {
    background-color: #00FF46;
}

#btnLelangSaya {}

#btnLelangSaya .btn {
    width: 70%;
}

#btnLelangSaya .detail {
    border: 1px solid #3B85F2;
}

#btnLelangSaya .bayar {
    background-color: #3B85F2;
    border: 1px solid #3B85F2;
}

#kontenPembayaran img {
    width: 200px;
}

#kontenPembayaran .col-7 {
    padding: 0;
}

#kontenPembayaran .table {
    margin: 0;
    padding: 0;
}

#infoPembayaran {
    padding-left: 25px;
}

#tagihan .btn {
    width: 100%;
}

#tagihan .border {
    border: 1px solid #3B85F2 !important;
}

#tagihan .dropdown-item {
    padding-left: 0;
    padding-right: 0;
}

#tagihan .dropdown-item:focus, .dropdown-item:hover {
    background-color: #fff;
    color: #3B85F2;
}

#tagihan .btn-primer {
    background-color: #3B85F2;
    color: #fff;
}

/* * {
    border: #000 1px solid;
} */